---
import AstroIcon from './AstroIcon.astro';
import Icon from './AstroIcon.astro';
---

<div class='bg-slate-900 py-6 pb-10 text-white sm:py-16'>
  <div class='container'>
    <!-- <p
      class='mb-8 flex flex-col justify-center gap-0 font-medium text-gray-400 sm:mb-16 sm:flex-row sm:gap-4'>
      <a
        class='border-b border-b-gray-700 px-2 py-1.5 transition-colors hover:text-white sm:border-b-0 sm:px-0 sm:py-0'
        href='/roadmaps'>Roadmaps</a>
      <a
        class='border-b border-b-gray-700 px-2 py-1.5 transition-colors hover:text-white sm:border-b-0 sm:px-0 sm:py-0'
        href='/best-practices'>Best Practices</a>
      <a
        class='border-b border-b-gray-700 px-2 py-1.5 transition-colors hover:text-white sm:border-b-0 sm:px-0 sm:py-0'
        href='/guides'>Guides</a
      >
      <a
        class='border-b border-b-gray-700 px-2 py-1.5 transition-colors hover:text-white sm:border-b-0 sm:px-0 sm:py-0'
        href='/videos'>Videos</a
      >
      <a
        class='border-b border-b-gray-700 px-2 py-1.5 transition-colors hover:text-white sm:border-b-0 sm:px-0 sm:py-0'
        href='/about'>FAQs</a
      >
      <a
        class='px-2 py-1.5 transition-colors hover:text-white sm:border-b-0 sm:px-0 sm:py-0'
        href='https://youtu.be/QSLBZxBZpIw'
        target='_blank'>YouTube</a
      >
    </p> -->

    <div class='flex flex-col justify-between gap-12 sm:flex-row'>
      <div class='max-w-[365px]'>
        <p class='text-md flex items-center'>
          <a
            class='inline-flex items-center text-lg font-medium text-white transition-colors hover:text-gray-400'
            href='/'
          >
            <Icon icon='logo' />
            <span class='ml-2'>Sanly Ýörelge</span>
          </a>
          <span class='mx-2 text-gray-400'>by</span>
          <a
            class='font-regular rounded-md bg-blue-600 px-1.5 py-1 text-sm hover:bg-blue-700'
            target='_blank'
          >
            <span class='hidden sm:inline'>InnoTeh</span>
          </a>
        </p>
        <p class='my-4 text-slate-300/60'>
          Ulgam ýaşlara döredijilikde ýol saýlamaga we okuwlaryna ugrukdyrmaga kömek etmek üçin 
          ýol ýörelge, gollanma hökmünde we ylymly, bilimli bolup ýetişmekleri üçin niýetlenen.
        </p>
        <div class='text-sm text-gray-400'>
          <p>
            &copy; SanlyÝörelge.
            <!-- <span class='mx-1.5'>&middot;</span>
            <a href='/terms' class='hover:text-white'>Şertler</a>
            <span class='mx-1.5'>&middot;</span>
            <a href='/privacy' class='hover:text-white'>Gizlinlik syýasaty</a>
            <span class='mx-1.5'>&middot;</span>             -->
          </p>
        </div>
      </div>

      <div class='max-w-[365px] text-left sm:text-right'>
        <a href='#' target='_blank'>
          <img
            src='/images/Logo.png'
            alt='Magtymguly'
            class='my-1.5 mr-auto sm:ml-auto sm:mr-0'
            width='200'
            height='24.8'
          />
        </a>
        <p class='my-4 text-slate-300/60'>
          Sanly bilim ulgamynyň maglumat giňişligini döretmekde we mundan beýläk 
          ösdürmekde bilim gorlarynyň we hyzmatlarynyň ileri tutulmagyny üpjün edilýär.
        </p>
        <div class='text-sm text-gray-400'>
          <p>
            <a
              href='#'
              target='_blank'
              class='text-gray-400 hover:text-white'>IT</a
            >
            <span class='mx-1.5'>&middot;</span>
            <a
              href='#'
              target='_blank'
              class='text-gray-400 hover:text-white'>Kiberhowpsuzlyk</a
            >
            <span class='mx-1.5'>&middot;</span>
            <a
              href='#'
              target='_blank'
              class='text-gray-400 hover:text-white'>Programmirleme</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
