---
import type { GuideFileType } from '../lib/guide';

export interface Props {
  guide: GuideFileType;
}

const { guide } = Astro.props;
const { frontmatter } = guide;
const { author } = frontmatter;
---

<div class='bg-white border-b py-5 sm:py-12'>
  <div class='container text-left sm:text-center'>
    <p
      class='text-gray-400 hidden sm:flex items-center justify-start sm:justify-center'
    >

      <!-- <span class='mx-1.5'>&middot;</span> -->
      <span class='capitalize'>Tekst görnüşde - Gollanma</span>
      <span class='mx-1.5'>&middot;</span>
      <a
        class='text-blue-400 hover:text-blue-500 hover:underline'
        href={`#`}
        target='_blank'>Bu gollanmany kämilleşdiriň</a
      >
    </p>
    <h1 class='text-2xl sm:text-5xl my-0 sm:my-3.5 font-bold'>
      {frontmatter.title}
    </h1>
    <p class='hidden sm:block text-gray-400 text-xl'>
      {frontmatter.description}
    </p>
  </div>
</div>
