<a
    href="https://www.youtube.com/@KiberPortal"
    target="_blank"
    class="text-md hidden sm:flex items-center text-red-600 group hover:text-red-900"
>
    <span
        class="bg-red-600 group-hover:bg-red-800 group-hover: px-1.5 py-0.5 rounded-sm text-white text-xs uppercase font-medium mr-2"
        >Täzelik</span
    >
    <span class="underline mr-1">Şeýle hem, wizual maglumatlary “YouTube” kanalymyzda görüp bilersiňiz</span>
    <span>&raquo;</span>
</a>
